# ==========================================
# Core Dependencies
# ==========================================
pyserial>=3.5
icmplib>=3.0.3
pysnmp>=4.4.12,<5.0.0
pyasn1>=0.4.8
pycryptodomex>=3.18.0

# ==========================================
# Optional Dependencies
# ==========================================
scapy>=2.5.0
